<% @user_links.each do |link| %>
  <p><%= link.title %></p>
  <p><%= link_to link.url %></p>
  <p><%= link.description %></p>
  <p><%= link.tag %></p>
  <p><%= link.month_year %></p>
  <%= link_to link.url do %>
    <%= image_tag link.link_image.url(:main) %></p>
  <% end %>
<% end %>